{% include base_path %}

<li>
  <i class="fas fa-map-marker-alt author-location-icon"></i>
  {{ site.author.location }}
</li>

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}

  <h2>🔔 Latest News</h2>
  <ul class="news">
        
    <li>
       <p style="font-size: 13px;">
       <em class="blue-label">2026.05.13</em>: &nbsp; I joined Beihang University as a professor.🎉
       </p> 
    </li>
    
     <li>
       <p style="font-size: 13px;">
       <em class="blue-label">2025.04.01</em>: &nbsp; I joined Leibniz-IPHT as a Humboldt Fellow.🎉
       </p> 
    </li>
    
    <li>
       <p style="font-size: 13px;">
       <em class="blue-label">2024.09.21</em>: &nbsp; I was awarded the Best Oral Presentation Awards of OFS-China 2024.🎉
       </p> 
    </li>


       
  </ul>
  </div>
{% endif %}
