{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}

  <h2>🔔 Latest News</h2>
  <ul class="news">
    <li>
       <p style="font-size: 13px;">
       <em class="blue-label">2023.12.07</em>: &nbsp; Our recent work of 'Pump–probe-alternating photothermal interferometry for two-component gas sensing' has been published in 
         <a href="https://opg.optica.org/ol/fulltext.cfm?uri=ol-48-24-6440&id=54422">Optics Letters</a>.🎉
       </p> 
    </li>
    
    <li>
       <p style="font-size: 13px;">
       <em class="blue-label">2023.12.06</em>: &nbsp; My Ph.D. thesis was awarded the Outstanding Doctoral Dissertation Award of Beijing in 2023.🎉
       </p> 
    </li>
       
  </ul>
  </div>
{% endif %}
